.check_circle {
  color: green; // Cambia el color según tus preferencias
}

.warning {
  color: orange; // Cambia el color según tus preferencias
}

.info {
  color: gray; // Cambia el color según tus preferencias
}
