// Importa los estilos de Angular Material
@use '@angular/material' as mat;

// Incluye los estilos comunes de Angular Material
@include mat.core();

// Define tu paleta de colores primaria utilizando un código hexadecimal
$pf-chumpitaz-primary: mat.define-palette(mat.$blue-palette, 500, 100, 900);

// Define tu paleta de colores de acento (puedes ajustarla según tus necesidades)
$pf-chumpitaz-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// Define la paleta de colores de advertencia (opcional, predeterminada a rojo)
$pf-chumpitaz-warn: mat.define-palette(mat.$red-palette);

// Crea el objeto de tema, configurando las opciones de color
$pf-chumpitaz-theme: mat.define-light-theme((
  color: (
    primary: $pf-chumpitaz-primary,
    accent: $pf-chumpitaz-accent,
    warn: $pf-chumpitaz-warn,
  )
));

// Aplica los estilos del tema para todos los componentes utilizados en tu aplicación
@include mat.all-component-themes($pf-chumpitaz-theme);

/* Puedes agregar estilos globales a este archivo y también importar otros archivos de estilo */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
