.dashboard-container {
  height: 100vh;
}

.example-sidenav {
  background-color: 	black;
}

.imagen {
  position: absolute;
  right: 0;
  top: 20px; /* Puedes ajustar la posición vertical según tus necesidades */
  width: 50px;
  margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
}
