<mat-drawer-container class="dashboard-container" autosize >
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="flex flex-column">
    <p class="font-bold flex align-items-center justify-content-center" style="color: white;">Gestion</p>
  </div>
    @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <!-- <button (click)="showFiller = !showFiller" mat-raised-button> -->
    <div class="flex flex-column">
      <button mat-raised-button color="primary" class="flex align-items-center justify-content-center  m-2">
        Alumnos
      </button>
      <button  mat-raised-button  color="primary" class="flex align-items-center justify-content-center   m-2">
        Cursos
      </button>
      <button  mat-raised-button  color="primary"  class="flex align-items-center justify-content-center  m-2" >
        Inscripciones
      </button>
    </div>
  </mat-drawer>

  <!-- CONTENIDO -->
  <div class="example-sidenav-content">

    <p>
      <!-- TOLBAR -->
      <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span [sizeText]="20" appTextSize>Control de Alumnos</span>
        <span class="example-spacer"></span>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> -->
        <!-- <mat-icon>favorite</mat-icon> -->
        <!-- </button> -->
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"> -->
        <!-- <mat-icon>share</mat-icon> -->
        <!-- </button> -->
      </mat-toolbar>
    </p>
    <!-- TOLBAR -->
    <div class="p-3">
      <app-users></app-users>
      <!-- <app-categories></app-categories> -->
      <!-- <app-pipes></app-pipes> -->
    </div>


  </div>
  <!-- CONTENIDO -->
</mat-drawer-container>
